body { 
		padding-top: 70px; 
		font-family: 'Kotta One', serif;
	}

h5 {
		text-align: center;
}

.navbar {
				/*border-color: pink;*/
				border:solid 2px #FF9ABA ;
				text-decoration-color: black;
			
}


.boxy img{
	max-width: 100%;

}

div#navi{
	margin-bottom: 20px;
}

.col-md-4 {
			border-radius: 5px;
			background-color: #FF9ABA;
			margin-left: 2px;
			margin-right: 2px;
			border-color: black;
			border:solid 5px;
			padding: 0px;
			}

#row1 .col-md-4:nth-child(even)	{
								background-color: #5A5A5A;
								color:white;
								border-color: #FF9ABA;
								}

#row2 .col-md-4:nth-child(odd)	{
								background-color: black;
								color:white;
								border-color: #FF9ABA;
								}

#row3 .col-md-4:nth-child(even)	{
								background-color: black;
								color:white;
								border-color: #FF9ABA;
								}

#boxes {
		margin-left: 29px;
		margin-right: auto;
		}

#box {
		margin:1px;
		width: 33%;
		/*opacity: .5;*/
		min-height: 600px;
	}


#heart_element {
				float: left;
				/*width: 400px;
				height: 400px;*/
				-webkit-shape-outside: url(../images/heart2.png);
				/*-webkit-shape-margin: 15px;*/
				/*-webkit-shape-image-threshold: 0.5;*/
				/*background: #009966 url(lovemath.png);*/
				-webkit-mask-image: url(../images/heart2.png);
				}

/*.shrink img {
  height: 400px;
  width: 400px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}*/
 

#gear_element {
				float: left;
				-webkit-shape-outside: url(../images/gear.png);
				-webkit-mask-image: url(../images/gear.png);
				}

#apple_element {
				float: left;
				-webkit-mask-image: url(../images/apple.png);
				}

#book_element	{
				float: left;
				-webkit-mask-image: url(../images/book.png);
				}

#quote_element {
				float: left;
				-webkit-mask-image: url(../images/quote.png);
				}

#mind_element {
				float: left;
				-webkit-mask-image: url(../images/mind.jpg);
				}

#afro_element {
				float: left;
				-webkit-mask-image: url(../images/afro.png);
				}

#naruto_element {
				float: left;
				-webkit-mask-image: url(../images/naruto.png);
				}


.row img {
	width: 300px;
	height: 267px;
	margin-top: 15px;

	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;

	}
.row img:hover {
  width: 250px;
  height: 170px;
}



p {
	padding-left: 10px;
	padding-right: 10px;
	}
p:first-child {
				text-align: center;
				}

/*#box:hover{
			opacity: 1;
			-webkit-transform: rotateZ(360deg);
}*/

#dropdown-menu {
	display: none;
}



